.container {
    display: block;
    margin-top: 15%;
    text-align: center;
}
.text-title {
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    vertical-align: middle;
    color: whitesmoke;
    font-size: 50pt;
    font-weight: 100;
}
.icons {
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    padding: 5px;
}
.icons:hover {
    -webkit-filter: brightness(90%);
    -moz-filter: brightness(90%);
    -o-filter: brightness(90%);
    -ms-filter: brightness(90%);
    filter: brightness(90%);
}
.bg {
    background: url('../images/bg1.jpg');
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
